#action-container {
  width: 80vw;
  height: 18em;
  margin-right: 10vw;
  margin-left: 10vw;
  position: absolute;
  bottom: 2em;
  background-color: gray;
  border: 1px solid black;
  border-radius: 1em;
}
