.new-stage-radio-container {
  display: flex;
  margin-bottom: 0.5em;
}

.new-stage-radio-content {
  display: flex;
  padding-left: 1em;
}

.rule-radio-title {
  font-size: 1.1em;
  font-weight: bold;
}

.rule-radio-content {
  font-size: 0.8em;
  margin-top: 3px;
}

div.rule-radio-container {
  display: flex;
  margin-bottom: 1em;
}

div.stage-image-holder {
  align-content: center;
}

figure.stage-image {
  margin: auto;
}

#stage-create-button {
  display: flex;
  margin-left: auto;
  margin-right: 3em;
}