.td {
  font-size: 18px;
  border-right: none;
  border-left: none;
  padding-left: 1em;
  padding-right: 1em;
}

.no_padding {
  padding-top: 0;
  padding-bottom: 0;
}

.button_container {
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
  border-right: none;
  border-left: none;
  user-select: none;
}

.button_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.button_item_plus:hover {
  background-color: palegreen;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.button_item_minus:hover {
  background-color: rgb(255, 151, 140);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.button_item_minus:active {
  box-shadow: none;
}

.button_item_plus:active {
  box-shadow: none;
}

.skill_point_input {
  width: 2em;
  font-size: 25px;
}

.removable {
  user-select: none;
  cursor: pointer;
}

.removable:hover {
  color: orangered;
}

.tr_clickable {
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
}

.tr_clickable:hover {
  background-color: aquamarine;
}

.tr_clickable_danger {
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  color: orangered;
}

.tr_clickable_danger:hover {
  background-color: lightcoral;
  color: white;
}

.div_dummy_table_clickable {
  line-height: 1.5;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.div_dummy_table_clickable:hover {
  background-color: aquamarine;
}

.div_dummy_table_clickable_begin {
  border-top: 1px solid #ddd;
}