.component-stage-simple{
    width : 380px;
}

.component-stage-simple-header {
    height: 230px;
}

.component-stage-simple-text {
    height: 100px;
    overflow-y: hidden;
}

.modal-stage-banner-img {
    height: 330px;
}

.modal-stage-input{
    width: 13em;
}

.component-avatar-simple {
    min-width: 17em;
    max-width: 17em;
}

.sketch  {
    border: 2px solid #F00;
    margin-bottom: 1em;
}

.img-fitsize {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.network-indicator {
    position: absolute;
    top: 1em;
    right: 10em;
    width: 10em;
    height: 1.7em;
    background-color: white;
}

.nested-column {
    padding: 0;
}

input.table-input {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    width: 100%;
    border: none;
}

select.table-select {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    width: 100%;
    border: none;
}

input.table-input-centered {
    padding: 1em;
    margin: 0;
    width: 100%;
    border: none;
    text-align: center;
}

a.table-input-addons {
    padding-left: 0;
    padding-right: 0;
    width: 2.5em;
    border-radius: 0px;
}

th.nested-th {
    padding-left: 3px;
    padding-right: 3px;
}

tb.nested-tb {
    padding-left: 3px;
    padding-right: 3px;
}

td.no-padding {
    padding :0px;
}