.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.no-border{
  padding: 0px;
  margin: 0px;
}

.chat-empty-width {
  width: 20%;
}

div.chat-content-outer {
  border: 1px solid;
  margin-bottom: 1.5em;
}

.chat-content-left {
  max-width: 70%;
  text-align: left;
  padding-left: 1em;
  margin-left: 1em;
}

.chat-content-right {
  max-width: 70%;
  text-align: right;
  padding-right: 1em;
  margin-right: 1em;
}

.chat-content {
  margin: 0.35em;
}

.chat-header-width {
  width: 10%;
}

.transact-key {
  width: 40%;
  text-align: right;
  padding-right: 1em;
}

.transact-value {
  width: 60%;
  text-align: left;
  padding-left: 1em;
}