.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.no-border{
  padding: 0px;
  margin: 0px;
}

.chat-content-line {
  padding-bottom: 1.5em;
  margin-right: 1.5em;
}

.chat-empty-width {
  width: 20%;
}

div.chat-content-outer {
  border: 1px solid;
}

.chat-name-left {
  text-align: left;
  padding-left: 4em;
}

.chat-name-right {
  text-align: right;
  padding-right: 4em;
}

.chat-content-left {
  max-width: 70%;
  margin-left: 1.5em;
}

.chat-content-right {
  max-width: 70%;
  margin-right: 1.5em;
}

.chat-content {
  margin: 0.35em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.transact-key {
  width: 40%;
  text-align: right;
  padding-right: 1em;
}

.transact-value {
  width: 50%;
  text-align: left;
  margin-right: auto;
  padding-left: 1em;
}

.dice-hint {
  width: 60%;
  text-align: right;
  padding-right: 1em;
}

.dice-value {
  width: 40%;
  text-align: left;
  padding-left: 1em;
}

.chat-log {
  border: 1px solid;
  height: 60vh;
  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column-reverse;
}

.chat-anchor {
  overflow-anchor: auto ;
  font-size: 9px;
  text-align: center;
}

.substage-indicator-container {
  border: 0px;
}

.dev-bordered {
  border: 1px solid;
}

.narrow-input {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 0px; 
}

.chat-log-narration {
  font-style: italic;
  max-width: 488px;
  margin-left: auto;
  margin-right: auto;
}
